<h2>Re: <%= notice.subject %></h2>
<p class="source">Sent via: <%= notice.source || 'Unknown' %></p>

<section class="notice-body">
  <h5 class="title">Explanation of Court Order</h5>
  <p class="body"><%= notice.redacted(:body) %></p>

  <section id="tags">
    <h6>Laws or Regulations</h6>
    <%= render 'shared/regulation_list', regulations: notice.regulations %>
  </section>
</section>

<%= render works_partial_for(notice), works: notice.works %>

<section class="legal">
  <h5 class="title">Legal (Other)</h5>
  <p class="legal-other"><%= notice.redacted(:legal_other) %></p>
</section>
