<section class="notice-body">
  <% if notice.body.present? %>
    <h5 class="title"><%= notice.customizations&.fetch('body_field_label', nil) || Translation.t('notice_show_court_body') %></h5>
    <p class="body"><pre><%= notice.redacted(:body) %></pre></p>
  <% end %>

  <% if notice.regulation_list.present? %>
    <dl id="tags">
      <dt class="label"><%= Translation.t('notice_show_court_regulations_label') %>:</dt>
      <dd class="field"><%= render 'shared/tag_list', tags: notice.regulations %></dd>
    </dl>
  <% end %>

  <% if notice.case_id_number.present? %>
    <dl id="request_type">
      <dt class="label"><%= Translation.t('notice_show_court_case_id') %>:</dt>
      <dd class="field"><%= notice.case_id_number %></dd>
    </dl>
  <% end %>
</section>

<%= render 'works', notice: notice %>
