<header>
  <h3 class="title"><%= Translation.t('views_counternotice_form_title') %></h3>
  <p><%= Translation.t('views_counternotice_form_info') %></p>
  <p class="disclaimer"><%= Translation.t('views_notices_disclaimer') %></p>
</header>
<%= simple_form_for(notice) do |form| %>
  <section class="notice-body">
    <h4><span>Step 1.</span> <%= Translation.t('views_counternotice_form_step1_h') %></h4>
    <p><%= raw(Translation.t('views_counternotice_form_step1_info')) %></p>
    <p><b><%= Translation.t('views_counternotice_form_reason_h') %></b></p>
    <div class="body-wrapper main">
      <%= form.input :body,
        collection: Counternotice::REASONS.map { |r| Translation.t("views_counternotice_form_reasons_#{r}") },
        label: Translation.t('views_counternotice_form_body_label'),
        required: true
      %>
      <%= form.input :counternotice_for_id, as: :integer, placeholder: Translation.t('notice_new_counterfeit_counter_placeholder') %>
    </div>
    <%= render 'notices/form_components/main_metadata',
               action_taken: false,
               form: form %>
    <%= render 'notices/form_components/additional_metadata',
               body: false,
               form: form %>
  </section>

  <section class="works">
    <%= Translation.t('notice_new_counternotice_step_2_desc') %>
    <% form.object.works.each_with_index do |work, index| %>
      <%= form.simple_fields_for(:works, work, child_index: index) do |works_form| %>
        <div class="body-wrapper left">
          <% [:infringing_urls].each do |assoc| %>
            <%= render(
              partial: 'url_input_group',
              locals: { notice: notice, assoc: assoc, works_form: works_form, index: index }
            ) %>
          <% end %>
          <%= works_form.input :kind, label: Translation.t('notice_works_kind'), placeholder: Translation.t('notice_new_kind_placeholder') %>
        </div>
        <div class="body-wrapper right">
          <%= works_form.input :description %>
        </div>
        <% index += 1 %>
      <% end %>
    <% end %>
  </section>

  <%= render 'notices/form_components/roles', form: form %>
  <%= render 'notices/form_components/submit', form: form %>
<% end %>
