<%= render 'notices/form_components/header',
           label: Translation.t('notice_show_court_header') %>
<%= simple_form_for(notice) do |form| %>
  <section class="notice-body">
    <%= Translation.t('notice_new_step_1') %>
    <%= format(Translation.t('notice_new_provide_us'), type: 'Court Order').html_safe %>
    <%= render 'notices/form_components/main_metadata',
               form: form %>
    <%= render 'notices/form_components/additional_metadata',
               label: Translation.t('notice_show_court_body'),
               form: form %>
  </section>

  <section class="works">
    <%= Translation.t('notice_new_works_step_2') %>
    <%= format(Translation.t('notice_new_works_step_2_info'), urls_type: 'targeted').html_safe %>
    <% form.object.works.each_with_index do |work, index| %>
      <%= form.simple_fields_for(:works) do |works_form| %>
        <div class="body-wrapper left">
          <%= render(
            partial: 'url_input_group',
            locals: { notice: notice, assoc: :infringing_urls, works_form: works_form, index: index }
          ) %>
        </div>
        <div class="body-wrapper right">
          <%= works_form.input :description, label: Translation.t('notice_new_court_works_description_label') %>
        </div>
      <% end %>
    <% end %>
    <%= form.input :regulation_list, label: Translation.t('notice_show_court_regulations_label'), placeholder: Translation.t('notice_new_comma_separated') %>
  </section>

  <%= render 'notices/form_components/roles', form: form %>
  <%= render 'notices/form_components/submit', form: form %>
<% end %>
