<section class="works">
  <ol id="works" class="copyright-claims">
    <% works.each_with_index do |work, idx| %>
      <%= content_tag_for(:li, work) do %>
        <%= format(Translation.t('notice_show_counterfeit_works_label'), index: idx + 1).html_safe %>

        <div class="row">
          <div class="description">
            <span class="label"><%= Translation.t('notice_show_works_counter_dmca_desc_label') %></span> <span class="field"><%= work.description %></span>
          </div>
        </div>

        <%= render 'works_urls',
                    work: work,
                    copyrighted_title: "#{Translation.t('notice_works_original_urls')}:",
                    infringing_title: "#{Translation.t('notice_show_counterfeit_works_infringing_label')}:",
                    show_copyrighted: false,
                    show_infringing: true
        %>
      <% end %>
    <% end %>
  </ol>
</section>
