<%= render 'notices/form_components/header',
           label: 'Data Protection takedown notice' %>
<%= simple_form_for(notice) do |form| %>
  <section class="notice-body">
    <h4><span>Step 1.</span> Describe the Notice</h4>
    <p>Provide us with information about the Data Protection takedown notice you <em>sent</em> or <em>received</em>.</p>
    <%= render 'notices/form_components/main_metadata',
               subject: false, topics: false, tag_list: false,
               form: form %>
    <%= render 'notices/form_components/additional_metadata',
               label: 'Legal Complaint',
               form: form %>
  </section>

  <section class="works">
    <h4><span>Step 2.</span> URLs to be removed from search results.</h4>
    <% form.object.works.each_with_index do |work, index| %>
      <%= form.simple_fields_for(:works) do |works_form| %>
        <div class="body-wrapper left">
          <%= render(
            partial: 'url_input_group',
            locals: { notice: notice, assoc: :infringing_urls, works_form: works_form, index: index }
          ) %>
        </div>
      <% end %>
    <% end %>
    <div class="body-wrapper left">
      <%= form.input :url_count, label: "Number of URLs", label_html: { class: 'url', data: {
              tooltip: "Please indicate how many unique URLs the complainant requested be removed from search results."} } %>
    </div>
  </section>

  <%= render 'notices/form_components/roles',
             label: 'Data Protection takedown notice',
             form: form %>
  <%= render 'notices/form_components/submit', form: form %>
<% end %>
