<%= render 'notices/form_components/header',
           label: 'Defamation takedown notice' %>
<%= simple_form_for(notice) do |form| %>
  <section class="notice-body">
    <h4><span>Step 1.</span> Describe the Notice</h4>
    <p>Provide us with information about the Defamation takedown notice you <em>sent</em> or <em>received</em>.</p>
    <%= render 'notices/form_components/main_metadata', form: form %>
    <%= render 'notices/form_components/additional_metadata',
               label: 'Legal Complaint',
               form: form %>
  </section>

  <section class="works">
    <h4><span>Step 2.</span> URLs of Allegedly Defamatory Material</h4>
    <p>Please do not include links to unnecessary material. <b>Any URLs you enter will be republished on this site.</b></p>
    <% form.object.works.each_with_index do |work, index| %>
      <%= form.simple_fields_for(:works) do |works_form| %>
        <div class="body-wrapper left">
          <%= render(
            partial: 'url_input_group',
            locals: { notice: notice, assoc: :infringing_urls, works_form: works_form, index: index }
          ) %>
        </div>
      <% end %>
    <% end %>
  </section>

  <%= render 'notices/form_components/roles',
             label: 'Defamation takedown notice',
             form: form %>
  <%= render 'notices/form_components/submit', form: form %>
<% end %>
