<%= render 'notices/form_components/header',
           label: Translation.t('notice_new_defamation_header') %>
<%= simple_form_for(notice) do |form| %>
  <section class="notice-body">
    <%= Translation.t('notice_new_step_1') %>
    <%= format(Translation.t('notice_new_provide_us'), type: Translation.t('notice_new_defamation_header')).html_safe %>
    <%= render 'notices/form_components/main_metadata', form: form %>
    <%= render 'notices/form_components/additional_metadata',
               label: 'Legal Complaint',
               form: form %>
  </section>

  <section class="works">
    <%= Translation.t('notice_new_defamation_step_2') %>
    <% form.object.works.each_with_index do |work, index| %>
      <%= form.simple_fields_for(:works) do |works_form| %>
        <div class="body-wrapper left">
          <%= render(
            partial: 'url_input_group',
            locals: { notice: notice, assoc: :infringing_urls, works_form: works_form, index: index }
          ) %>
        </div>
      <% end %>
    <% end %>
  </section>

  <%= render 'notices/form_components/roles',
             label: Translation.t('notice_new_defamation_header'),
             form: form %>
  <%= render 'notices/form_components/submit', form: form %>
<% end %>
