<section class="notice-body">
  <% if notice.body.present? %>
    <h5 class="title"><%= notice.customizations&.fetch('body_field_label') || Translation.t('notice_show_defamation_body_label') %></h5>
    <p class="body"><pre><%= notice.redacted(:body) %></pre></p>
  <% end %>

  <% if notice.local_jurisdiction_laws.present? %>
    <h5 class="title"><%= Translation.t('notice_show_defamation_local_jurisdiction_laws_label') %></h5>
    <p class="body"><pre><%= notice.redacted(:local_jurisdiction_laws) %></pre></p>
  <% end %>
</section>

<%= render 'works', notice: notice %>
