<section class="works">
  <ol id="works" class="copyright-claims">
    <% works.each_with_index do |work, idx| %>
      <%= content_tag_for(:li, work) do %>
        <h4>Copyright claim #<%= idx + 1 %></h4>
        <div class="row">
          <div class="kind">
            <span class="label">Kind of Work:</span> <span class="field"><%= work.kind %></span>
          </div>
        </div>
        <div class="row">
          <div class="description">
            <span class="label">Description</span> <span class="field"><%= work.description %></span>
          </div>
        </div>

        <div class="row">
          <span class="label original-title">Original URLs:</span>
          <ol class="list original-urls">
            <% work.copyrighted_urls.each do |url| %>
              <%= content_tag_for(:li, url) do %>
                <%= url.url %>
              <% end %>
            <% end %>
          </ol>
        </div>

        <div class="row">
          <span class="label infringing-title">Allegedly Infringing URLs:</span>
          <ol class="list infringing-urls">
            <% work.infringing_urls.each do |url| %>
              <%= content_tag_for(:li, url) do %>
                <%= url.url %>
              <% end %>
            <% end %>
          </ol>
        </div>
      <% end %>
    <% end %>
  </ol>
</section>
