<%= render 'notices/form_components/header',
           label: Translation.t('notice_new_dcma_header') %>
<%= simple_form_for(notice) do |form| %>
  <section class="notice-body">
    <%= Translation.t('notice_new_step_1') %>
    <%= format(Translation.t('notice_new_provide_us'), type: Translation.t('notice_new_dcma_header')).html_safe %>
    <%= render 'notices/form_components/main_metadata', form: form %>
    <%= render 'notices/form_components/additional_metadata',
               form: form %>
  </section>

  <section class="works">
    <%= Translation.t('notice_new_works_step_2') %>
    <%= Translation.t('notice_new_works_enter') %>
    <% form.object.works.each_with_index do |work, index| %>
      <%= form.simple_fields_for(:works, work, child_index: index) do |works_form| %>
        <div class="body-wrapper left">
          <% [:copyrighted_urls, :infringing_urls].each do |assoc| %>
            <%= render(
              partial: 'url_input_group',
              locals: { notice: notice, assoc: assoc, works_form: works_form, index: index }
            ) %>
          <% end %>
          <%= works_form.input :kind, label: Translation.t('notice_works_kind'), placeholder: Translation.t('notice_new_kind_placeholder') %>
        </div>
        <div class="body-wrapper right">
          <%= works_form.input :description %>
        </div>
        <% index += 1 %>
      <% end %>
    <% end %>
  </section>

  <%= render 'notices/form_components/roles',
             label: Translation.t('notice_new_dcma_header'),
             form: form %>
  <%= render 'notices/form_components/submit', form: form %>
<% end %>
