<h2>Re: <%= notice.subject %></h2>
<p class="source">Sent via: <%= notice.source || 'Unknown' %></p>

<section class="notice-body">
  <h5 class="title">Body</h5>
  <p class="body"><%= notice.redacted(:body) %></p>
</section>

<%= render works_partial_for(notice), works: notice.works %>

<section class="legal">
  <h5 class="title">Legal (Other)</h5>
  <p class="legal-other"><%= notice.redacted(:legal_other) %></p>
</section>
