<section class="works">
  <ol id="works" class="copyright-claims">
    <% works.each_with_index do |work, idx| %>
      <%= content_tag_for(:li, work) do %>
        <h4>Complaint #<%= idx + 1 %></h4>
        <div class="row">
          <div class="kind">
            <span class="label">Kind of Work:</span> <span class="field"><%= work.kind %></span>
          </div>
        </div>
        <div class="row">
          <div class="description">
            <span class="label">Complaint</span> <span class="field"><%= work.description %></span>
          </div>
        </div>

        <%= render 'works_urls',
                    work: work,
                    original_title: 'URLs of original work:',
                    infringing_title: 'URLs with private information:',
                    show_original: true,
                    show_infringing: true
        %>
      <% end %>
    <% end %>
  </ol>
</section>
