<%= render 'notices/form_components/header',
           label: 'Trademark takedown notice' %>
<%= simple_form_for(notice) do |form| %>
  <section class="notice-body">
    <h4><span>Step 1.</span> Describe the Notice</h4>
    <p>Provide us with information about the Trademark takedown notice you <em>sent</em> or <em>received</em>.</p>
    <%= render 'notices/form_components/main_metadata', form: form %>
    <%= render 'notices/form_components/additional_metadata',
               label: 'Describe the alleged infringement of trademark',
               mark_reg: true,
               form: form %>
  </section>

  <section class="works">
    <h4><span>Step 2.</span> Original Works in Question</h4>
    <p>Enter information about the original work(s) and allegedly infringing URL(s).</p>
    <% form.object.works.each_with_index do |work, index| %>
      <%= form.simple_fields_for(:works) do |works_form| %>
        <div class="body-wrapper left">
          <%= render(
            partial: 'url_input_group',
            locals: { notice: notice, assoc: :infringing_urls, works_form: works_form, index: index }
          ) %>
        </div>
        <div class="body-wrapper right">
          <%=
            works_form.input :description,
              label: 'Mark',
              label_html: { data: {
                tooltip: "Description of allegedly infringed mark"
              }}
            %>
        </div>
      <% end %>
    <% end %>
  </section>

  <%= render 'notices/form_components/roles',
             label: 'Trademark takedown notice',
             form: form %>
  <%= render 'notices/form_components/submit', form: form %>
<% end %>
