<% if binding.local_variable_get("show_#{type}") %>
  <div class="row">
    <span class="label <%= type %>-title"><%= binding.local_variable_get("#{type}_title") %></span>
    <ol class="list <%= type %>-urls">
      <% if work.send("#{type}_urls_public").each do |url_instance| %>
        <li class="<%= type %>_url">
          <%= url_instance.url %>
          <% if url_instance.only_fqdn %>
            <i class="tooltipster gg-lumen gg-info" title="<%= Translation.t('notice_show_works_urls_full_only_researchers_tooltip') %>"></i>
          <% end %>
        </li>
      <% end.empty? %>
        <%= format(Translation.t('notice_show_works_no_urls'), type: type) %>
      <% end %>
    </ol>
  </div>
<% end %>
