<% if show_original %>
  <div class="row">
    <span class="label original-title"><%= original_title %></span>
    <ol class="list original-urls">
      <% if work.copyrighted_urls.each do |url| %>
        <%= content_tag_for(:li, url) do %><%= url.url %><% end %>
      <% end.empty? %>
        No copyrighted URLs were submitted.
      <% end %>
    </ol>
  </div>
<% end %>

<% if show_infringing %>
  <div class="row">
    <span class="label infringing-title"><%= infringing_title %></span>
    <ol class="list infringing-urls">
      <% if work.infringing_urls.each do |url| %>
        <%= content_tag_for(:li, url) do %><%= url.url %><% end %>
      <% end.empty? %>
        No infringing URLs were submitted.
      <% end %>
    </ol>
  </div>
<% end %>
