<% if binding.local_variable_get("show_#{type}") %>
  <div class="row">
    <span class="label <%= type %>-title"><%= binding.local_variable_get("#{type}_title") %></span>
    <ol class="list <%= type %>-urls">
      <% if work.send("#{type}_urls_public").each do |url_instance| %>
        <li class="<%= type %>_url">
          <%= url_instance.url %>
          <% if url_instance.only_fqdn %>
            <i class="tooltipster gg-lumen gg-info" title="You can only see the domain name of this url, the full version of the url is available only for logged-in users with researcher permissions."></i>
          <% end %>
        </li>
      <% end.empty? %>
        No <%= type %> URLs were submitted.
      <% end %>
    </ol>
  </div>
<% end %>
