<% if binding.local_variable_get("show_#{type}") %>
  <% url_rows = works_url_rows(
       work,
       type,
       url_rows: local_assigns[:url_rows]
     ) %>

  <div class="row">
    <span class="label <%= type %>-title"><%= binding.local_variable_get("#{type}_title") %></span>
    <ol class="list <%= type %>-urls">
      <% if url_rows.each do |url_row| %>
        <li class="<%= type %>_url">
          <%= url_row.text %>
          <% if url_row.researchers_only %>
            <i class="tooltipster gg-lumen gg-info" title="<%= Translation.t('notice_show_works_urls_full_only_researchers_tooltip') %>"></i>
          <% end %>
        </li>
      <% end.empty? %>
        <%= format(Translation.t('notice_show_works_no_urls'), type: type) %>
      <% end %>
    </ol>
  </div>
<% end %>
