<% title Translation.t('notice_new_report') %>

<div class="inner-padding">
  <%= Translation.t('notice_new_select_info') %>
  <section class="notices-list">
    <ul>
      <% Notice.display_models.each do |model| %>
        <li data-id="<%= model.name %>"><%= model.label %></li>
      <% end %>
    </ul>
  </section>

  <section class="info-panel">
    <% Notice.display_models.each do |model| %>
      <div data-id="<%= model.name %>">
        <article>
          <b><%= model.label %>:</b>
          <%= raw Translation.t("notice_type_descriptions_#{model.name}") %>
        </article>
        <div class="button-wrapper">
          <%=
            link_to(
              "Report #{model.label}",
              new_notice_path(type: model.name),
              class: "button"
            )
          %>
        </div>
      </div>
    <% end %>
  </section>
</div>
