<% title 'Report Notice' %>

<div class="inner-padding">
  <h1>Which type of notice would you like to report?</h1>
  <section class="notices-list">
    <ul>
      <% Notice.type_models.each do |model| %>
        <li data-id="<%= model.name %>"><%= model.label %></li>
      <% end %>
    </ul>
  </section>

  <section class="info-panel">
    <% Notice.type_models.each do |model| %>
      <div data-id="<%= model.name %>">
        <article>
          <b><%= model.label %>:</b>
          <%= t("type_descriptions.#{model.name}") %>
        </article>
        <div class="button-wrapper">
          <%=
            link_to(
              "Report #{model.label}",
              new_notice_path(type: model.name),
              class: "button"
            )
          %>
        </div>
      </div>
    <% end %>
  </section>
</div>
