<% title 'Report a Demand' %>

<div class="inner-padding">
  <h1>Which type of demand would you like to report?</h1>
  <p>
    <b>To help us serve you better, we ask that you submit only notices you have received, not items you have heard about second-hand, and that you add only information whose accuracy you can verify. We may mask additional identifying information before making the notice publicly viewable.</b>
  </p>
  <section class="notices-list">
    <ul>
      <% Notice.type_models.each do |model| %>
        <li data-id="<%= model.name %>"><%= model.label %></li>
      <% end %>
    </ul>
  </section>

  <section class="info-panel">
    <% Notice.type_models.each do |model| %>
      <div data-id="<%= model.name %>">
        <article>
          <b><%= model.label %>:</b>
          <%= raw t("type_descriptions.#{model.name}") %>
        </article>
        <div class="button-wrapper">
          <%=
            link_to(
              "Report #{model.label}",
              new_notice_path(type: model.name),
              class: "button"
            )
          %>
        </div>
      </div>
    <% end %>
  </section>
</div>
