<article class="notice-show">
  <h1><%= @notice.type %> - <%= @notice.title %></h1>

  <section class="body">
    <header id="entities">
      <% if @notice.sender %>
        <%= render @notice.sender, notice: @notice, role: :sender %>
      <% end %>
      <% if @notice.recipient %>
        <%= render @notice.recipient, notice: @notice, role: :recipient %>
      <% end %>
    </header>

    <div class="main">
      <h2>Re: <%= @notice.subject %></h2>
      <p class="source">Sent via: <%= @notice.source || 'Unknown' %></p>

      <section class="notice-body">
        <h5 class="title"><%= t("#{@notice.type}.body") %></h5>
        <p class="body"><%= @notice.redacted(:body) %></p>
      </section>

      <section class="works">
        <ol id="works" class="copyright-claims">
          <%= render @notice.works, notice: @notice %>
        </ol>
      </section>

      <section class="legal">
        <h5 class="title">Legal (Other)</h5>
        <p class="legal-other"><%= @notice.redacted(:legal_other) %></p>
      </section>

      <section class="attachments">
        <h5 class="title">Supporting Documents</h5>
        <ol class="attachments">
          <% 3.times do %>
            <li class="pdf">
              <a href="#">
                <span>Supporting PDF</span>
                <span class="download">Download</span>
              </a>
            </li>
          <% end %>

          <% 3.times do %>
            <li class="image">
              <a href="#">
                <span>Supporting Image</span>
                <span class="download">Download</span>
              </a>
            </li>
          <% end %>
          <% 3.times do %>
            <li class="">
              <a href="#">
                <span>Supporting Document</span>
                <span class="download">Download</span>
              </a>
            </li>
          <% end %>
        </ol>
      </section>
    </div>
  </section>

  <footer>
    <section id="tags">
      <h6>Tags</h6>
      <%= render 'shared/tag_list', tags: @notice.tags %>
    </section>

    <section id="categories">
      <h6>Categories</h6>
      <%= render 'shared/category_list', categories: @notice.categories %>
    </section>
  </footer>

  <aside class="notice">
    <section id="relevant-questions">
      <h4 class="title"><span>Related FAQs</span></h3>
      <%= render @notice.all_relevant_questions %>
    </section>

    <section id="related-blog-entries">
      <h4 class="title"><span>Related Blog Entries</span></h3>
      <%= render partial: 'blog_entry', collection: @notice.limited_related_blog_entries %>
    </section>
  </aside>

</article>
