<article class="notice-show">
  <header>
  <h1><%= @notice.title %></h1>
  <span class="date-recieved wip">Date Recieved: <time datetime="">May 17, 2013</time></span>
</header>

  <div class="sender-reciever wip">
    <section class="reciever">
      <h6>Recipient</h6>
      <span>[Private]</span>
      <span>Google, Inc. [Blogger]</span>
      <span>Mountain View, CA, 94043, USA</span>
    </section>
    <section class="sender">
      <h6>Sender</h6>
      <span>Jan Krohn</span>
      <span>Sent by: [Private]</span>
      <span>[Private]</span>
      <span>KH</span>
    </section>
  </div>
  <section class="body">
    <h2 class="notice-title wip">Re: Infringement Notification via Blogger Complaint</h2>
    <p class="source wip">Sent via: Online Form</p>
    <%= @notice.body %>
  </section>

  <section>
    <%= @notice.notice_file_content %>
  </section>

  <div class="foot">
    <section id="tags">
      <h6>Tags</h6>
      <%= @notice.tag_list %>
    </section>

    <section id="categories">
      <h6>Categories</h6>
      <%= render 'shared/category_list', categories: @notice.categories %>
    </section>
  </div>

  <section id="entities">
    <%= render @notice.entity_notice_roles %>
  </section>

</article>
