<% title 'Notices', @notice.title %>

<article class="notice-show">
  <section class="body">
    <header id="entities">
      <h1><%= @notice.type.titleize %> - <%= @notice.title %></h1>
      <div class="entities-wrapper">
        <% if @notice.sender %>
          <%= render @notice.sender, notice: @notice, role: :sender %>
        <% end %>
        <% if @notice.recipient %>
          <%= render @notice.recipient, notice: @notice, role: :recipient %>
        <% end %>

        <% @notice.other_entity_notice_roles.each do |role| %>
          <%= render role.entity, notice: @notice,
            role: role.name, additional_css: 'secondary hide' %>
        <% end %>
      </div>

      <% if @notice.other_entity_notice_roles.present? %>
        <div class="other-entities">
          <span class="label">Other Entities:</span>
          <ul>
            <% @notice.other_entity_notice_roles.each do |role| %>
              <li data-id="<%= role.name %>"><%= role.name.titleize %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </header>

    <% if can?(:access, :rails_admin) %>
      <div class="admin-edit">
        <%= link_to "Edit in Admin", admin_show_path(@notice) %>
      </div>
    <% end %>

    <div class="main">
      <h2>Re: <%= subject(@notice) %></h2>
      <p class="source">Sent via: <%= sent_via(@notice) %></p>

      <dl class="action-taken">
        <dt class="label">Action taken:</dt>
        <dd class="field"><%= @notice.action_taken %></dd>
      </dl>

      <%= render show_partial_for(@notice), notice: @notice %>

      <% if @notice.supporting_documents.present? %>
        <section class="attachments">
          <h5 class="title">Supporting Documents</h5>
          <ol class="attachments">
            <% @notice.supporting_documents.each do |document| %>
              <li class="<%= document.file_type.downcase %>">
                <%= link_to(document.url) do %>
                  <span>Supporting <%= document.file_type %></span>
                  <span class="download">Download</span>
                <% end %>
              </li>
            <% end %>
          </ol>
        </section>
      <% end %>
    </div>
  </section>

  <aside class="notice">
    <section id="relevant-questions">
      <h4 class="title"><span>Related FAQs</span></h3>
      <div class="wrapper">
        <%= render @notice.all_relevant_questions %>
      </div>
    </section>

    <section id="related-blog-entries">
      <h4 class="title"><span>Related Blog Entries</span></h3>
      <%= render partial: 'blog_entry', collection: @notice.related_blog_entries %>
    </section>
  </aside>

  <footer>
    <section id="categories">
      <h6>Categories</h6>
      <%= render 'shared/category_list', categories: @notice.categories %>
    </section>

    <section id="tags">
      <h6>Tags</h6>
      <%= render 'shared/tag_list', tags: @notice.tags %>
    </section>
  </footer>
</article>
