<article class="notice-show">
  <h1><%= @notice.type.titleize %> - <%= @notice.title %></h1>

  <section class="body">
    <header id="entities">
      <% if @notice.sender %>
        <%= render @notice.sender, notice: @notice, role: :sender %>
      <% end %>
      <% if @notice.recipient %>
        <%= render @notice.recipient, notice: @notice, role: :recipient %>
      <% end %>
      <p class="wip">TODO: Display other entities here</p>
    </header>

    <div class="main">
      <%= render show_partial_for(@notice), notice: @notice %>

      <section class="attachments">
        <h5 class="title">Supporting Documents</h5>
        <ol class="attachments">
          <% @notice.supporting_documents.each do |document| %>
            <li class="<%= document.file_type.downcase %>">
              <%= link_to(document.url) do %>
                <span>Supporting <%= document.file_type %></span>
                <span class="download">Download</span>
              <% end %>
            </li>
          <% end %>
        </ol>
      </section>
    </div>
  </section>

  <footer>
    <section id="tags">
      <h6>Tags</h6>
      <%= render 'shared/tag_list', tags: @notice.tags %>
    </section>

    <section id="categories">
      <h6>Categories</h6>
      <%= render 'shared/category_list', categories: @notice.categories %>
    </section>
  </footer>

  <aside class="notice">
    <section id="relevant-questions">
      <h4 class="title"><span>Related FAQs</span></h3>
      <%= render @notice.all_relevant_questions %>
    </section>

    <section id="related-blog-entries">
      <h4 class="title"><span>Related Blog Entries</span></h3>
      <%= render partial: 'blog_entry', collection: @notice.limited_related_blog_entries %>
    </section>
  </aside>

</article>
