<article class="notice-show">
  <h1><%= @notice.title %></h1>
  <span class="date-recieved">Date Received: <time datetime="<%= @notice.date_received %>"><%= @notice.date_received %></time></span>

  <section class="body">
    <header class="wip">
      <section class="reciever">
        <h6>Recipient</h6>
        <span>[Private]</span>
        <span>Google, Inc. [Blogger]</span>
        <span>Mountain View, CA, 94043, USA</span>
      </section>
      <section class="sender">
        <h6>Sender</h6>
        <span>Jan Krohn</span>
        <span>Sent by: [Private]</span>
        <span>[Private]</span>
        <span>KH</span>
      </section>
    </header>

    <div class="main">
      <h2 class="notice-title wip">Re: Infringement Notification via Blogger Complaint</h2>
      <p class="source wip">Sent via: Online Form</p>
      <p><%= @notice.body %></p>
    </div>
  </section>

  <section class="file">
    <%= @notice.notice_file_content %>
  </section>

  <footer>
    <section id="tags">
      <h6>Tags</h6>
      <%= @notice.tag_list %>
    </section>

    <section id="categories">
      <h6>Categories</h6>
      <%= render 'shared/category_list', categories: @notice.categories %>
    </section>
  </footer>

  <section id="entities">
    <%= render @notice.entity_notice_roles %>
  </section>

  <section id="relevant-questions">
    <%= render @notice.all_relevant_questions %>
  </section>

</article>
