<% title 'Notices', @notice.title %>

<article class="notice-show">
  <section class="body">
    <header id="entities">
      <h1><%= @notice.type.titleize %> - <%= @notice.title %></h1>
      <div class="entities-wrapper">
        <% if @notice.sender %>
          <%= render @notice.sender, notice: @notice, role: :sender %>
        <% end %>
        <% if @notice.recipient %>
          <%= render @notice.recipient, notice: @notice, role: :recipient %>
        <% end %>

        <section class="issueing_court secondary hide">
          <h5>Issueing Court</h5>
          <h6><a href="/faceted_search?sender_name=Steve+Simpson">Jack Trademark</a></h6>
          <span>San Francisco, CA, 94044, US</span>
          <span class="date sent"><time datetime="2013-07-15T19:10:11Z">July 15, 2013</time></span>
        </section>

        <section class="plaintiff secondary hide">
          <h5>Plaintiff</h5>
          <h6><a href="/faceted_search?sender_name=Steve+Simpson">Jill Defamation</a></h6>
          <span>San Jose, CA, 94045, US</span>
          <span class="date sent"><time datetime="2013-07-15T19:10:11Z">July 10, 2013</time></span>
        </section>
      </div>

      <div class="other-entities wip">
        <span class="label">Other Entities:</span>
        <ul>
          <li data-id="issueing_court">Issueing Court</li>
          <li data-id="plaintiff">Plaintiff</li>
        </ul>
      </div>
    </header>

    <% if can?(:access, :rails_admin) %>
      <div class="admin-edit">
        <%= link_to "Edit in Admin", admin_show_path(@notice) %>
      </div>
    <% end %>

    <div class="main">
      <h2>Re: <%= subject(@notice) %></h2>
      <p class="source">Sent via: <%= sent_via(@notice) %></p>

      <dl class="action-taken">
        <dt class="label">Action taken:</dt>
        <dd class="field"><%= @notice.action_taken %></dd>
      </dl>

      <%= render show_partial_for(@notice), notice: @notice %>

      <% if @notice.supporting_documents.present? %>
        <section class="attachments">
          <h5 class="title">Supporting Documents</h5>
          <ol class="attachments">
            <% @notice.supporting_documents.each do |document| %>
              <li class="<%= document.file_type.downcase %>">
                <%= link_to(document.url) do %>
                  <span>Supporting <%= document.file_type %></span>
                  <span class="download">Download</span>
                <% end %>
              </li>
            <% end %>
          </ol>
        </section>
      <% end %>
    </div>
  </section>

  <aside class="notice">
    <section id="relevant-questions">
      <h4 class="title"><span>Related FAQs</span></h3>
      <div class="wrapper">
        <%= render @notice.all_relevant_questions %>
      </div>
    </section>

    <section id="related-blog-entries">
      <h4 class="title"><span>Related Blog Entries</span></h3>
      <%= render partial: 'blog_entry', collection: @notice.limited_related_blog_entries %>
    </section>
  </aside>

  <footer>
    <section id="tags">
      <h6>Tags</h6>
      <%= render 'shared/tag_list', tags: @notice.tags %>
    </section>

    <section id="categories">
      <h6>Categories</h6>
      <%= render 'shared/category_list', categories: @notice.categories %>
    </section>
  </footer>
</article>
