<article class="notice-show">
  <h1><%= @notice.title %></h1>
  <span class="date-received">Date Received: <%= date_received(@notice) %></span>

  <section class="body">
    <header id="entities">
      <% if @notice.submitter %>
        <%= render @notice.submitter, css_class: 'sender' %>
      <% end %>
      <% if @notice.recipient %>
        <%= render @notice.recipient, css_class: 'receiver' %>
      <% end %>
    </header>

    <div class="main">
      <h2>Re: <%= @notice.subject %></h2>
      <p class="source">Sent via: <%= @notice.source || 'Unknown' %></p>
      <p class="body">Body: <%= @notice.redacted(:body) %></p>
      <p class="legal-other">
        Legal (Other): <%= @notice.redacted(:legal_other) %>
      </p>

      <ol id="works" class="copyright-claims">
        <%= render @notice.works %>
      </ol>
    </div>
  </section>

  <footer>
    <section id="tags">
      <h6>Tags</h6>
      <%= @notice.tag_list %>
    </section>

    <section id="categories">
      <h6>Categories</h6>
      <%= render 'shared/category_list', categories: @notice.categories %>
    </section>
  </footer>

  <section id="relevant-questions">
    <%= render @notice.all_relevant_questions %>
  </section>

  <section id="related-blog-entries">
    <%= render partial: 'blog_entry', collection: @notice.related_blog_entries %>
  </section>

</article>
