<article class="notice-show">
  <h1><%= @notice.title %></h1>
  <span class="date-recieved">Date Received: <time datetime="<%= @notice.date_received %>"><%= @notice.date_received %></time></span>

  <section class="body">
    <header id="entities" class="wip">
      <% if @notice.recipient %>
        <%= render @notice.recipient, css_class: 'reciever' %>
      <% end %>
      <% if @notice.submitter %>
        <%= render @notice.submitter,  css_class: 'sender' %>
      <% end %>
    </header>

    <div class="main">
      <h2 class="notice-title wip">Re: Infringement Notification via Blogger Complaint</h2>
      <p class="source wip">Sent via: Online Form</p>

      <ul id="works">
        <%= render @notice.works %>
      </ul>

    </div>
  </section>

  <section class="file">
    <%= @notice.notice_file_content %>
  </section>

  <footer>
    <section id="tags">
      <h6>Tags</h6>
      <%= @notice.tag_list %>
    </section>

    <section id="categories">
      <h6>Categories</h6>
      <%= render 'shared/category_list', categories: @notice.categories %>
    </section>
  </footer>

  <section id="relevant-questions">
    <%= render @notice.all_relevant_questions %>
  </section>

</article>
