<% title 'Notices', @notice.title %>

<article class="notice-show">
  <% if can?(:access, :rails_admin) %>
    <div class="admin-edit">
      <%= link_to "Show in Admin", admin_show_path(@notice) %> |
      <%= link_to "Edit in Admin", admin_edit_path(@notice) %>
    </div>
  <% end %>

<% cache(@notice) do %>
  <%= content_tag('section', class: 'first-time-visitor', style: 'display: none;', 'data-content' => first_time_visitor_content) do %>
    <div class="first-time-visitor-content">
      <p id="hide-first-time-visitor-content"><a href="#">Close</a></p>
    </div>
  <% end %>
  <section class="body">
    <header id="entities">
      <h1><%= @notice.title %></h1>
      <div class="entities-wrapper">
        <% if @notice.sender %>
          <%= render @notice.sender, notice: @notice, role: :sender, hide_identities: @notice.hide_identities? %>
        <% end %>
        <% if @notice.recipient %>
          <%= render @notice.recipient, notice: @notice, role: :recipient %>
        <% end %>
        <% if @notice.submitter %>
          <%= render @notice.submitter, notice: @notice, role: :submitter %>
        <% end %>

        <% @notice.other_entity_notice_roles.each do |role| %>
          <%= render role.entity, notice: @notice,
            role: role.name, additional_css: 'secondary hide' %>
        <% end %>
      </div>

      <% if @notice.other_entity_notice_roles.present? %>
        <div class="other-entities">
          <span class="label">Other Entities:</span>
          <ul>
            <% @notice.other_entity_notice_roles.each do |role| %>
              <li data-id="<%= role.name %>"><%= role.name.titleize %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </header>

    <div class="main">
      <h2>Re: <%= subject(@notice) %></h2>
      <p class="source">Sent via: <%= sent_via(@notice) %></p>
	  
      <dl class="notice-type">
        <dt class="label">Notice Type:</dt>
        <dd class="field"><%= @notice.type.titleize %></dd>
      </dl>
	  
	  <% unless @notice.action_taken.nil? || @notice.action_taken.blank? %>
      <dl class="action-taken">
        <dt class="label">Action taken:</dt>
        <dd class="field"><%= @notice.action_taken %></dd>
      </dl>
	  <% end %>

      <%= render show_partial_for(@notice), notice: @notice %>

    <% if @notice.tag_list.present? %>
    <dl class="tag-list">
      <dt class="label">Tags</dt>
      <dd class="field"><%= @notice.tag_list %></dd>
    </dl>
    <% end %>
    
    <dl class="tag-list">
      <dt class="label">Jurisdictions</dt>
      <% if @notice.jurisdiction_list.present? %>
        <dd class="field"><%= @notice.jurisdiction_list %></dd>
      <% else %>
        <dd class="field">Unspecified</dd>
      <% end %>
    </dl>

    <% if @notice.original_documents.present? && !@notice.original_documents.first.pdf_request_fulfilled %>
      <section class="attachments">
        <h5 class="title">Original Documents</h5>
        <ol class="attachments">
          <% @notice.original_documents.each do |document| %>
            <% if document.file_type == "PDF" && !document.pdf_requested? && !document.pdf_request_fulfilled %>
              <li class="<%= document.file_type.downcase %>">
                <%= link_to request_pdf_notice_path(document), class: "document-original", method: :put, remote: :true do %>
                  <span>Supporting <%= document.file_type %> #<%= @notice.original_documents.index(document) + 1 %></span>
                  <span class="download">Request Document</span>
                <% end %>
              </li>
            <% elsif document.pdf_requested? %>
              <li class="<%= document.file_type.downcase %>">
                <span>Supporting <%= document.file_type %> #<%= @notice.original_documents.index(document) + 1 %></span>
                <span class="download">Document Requested. Check back in 7 days.</span>
              </li>
            <% end %>
          <% end %>
        </ol>
      </section>
    <% end %>

      <% if @notice.supporting_documents.present? %>
        <section class="attachments">
          <h5 class="title">Supporting Documents</h5>
          <ol class="attachments">
            <% @notice.supporting_documents.each do |document| %>
              <li class="<%= document.file_type.downcase %>">
                <%= link_to(document.url) do %>
                  <span>Supporting <%= document.file_type %></span>
                  <span class="download">Download</span>
                <% end %>
              </li>
            <% end %>
          </ol>
        </section>
      <% end %>
    </div>
  </section>

  <aside class="notice">

    <section id="counter-notice">
      <% if @notice.type == "DMCA" %>
        <%= 
          link_to(
            "Create DMCA Counter Notice", 
            new_counter_notice_path, 
            class: "button"
          ) 
        %>
      <% end %>
    </section>

    <section id="relevant-questions">
      <h4 class="title"><span>Related FAQs</span></h3>
      <div class="wrapper">
        <%= render @notice.all_relevant_questions %>
      </div>
    </section>

    <section id="related-blog-entries">
      <h4 class="title"><span>Related Blog Entries</span></h3>
      <%= render partial: 'blog_entry', collection: @notice.related_blog_entries %>
    </section>
  </aside>

  <footer>
    <section id="topics">
      <h6>Topics</h6>
      <%= render 'shared/topic_list', topics: @notice.topics %>
    </section>

    <section id="tags">
      <h6>Tags</h6>
      <%= render 'shared/tag_list', tags: @notice.tags %>
    </section>
  </footer>
<% end %>
</article>
