<article class="notice-show">
  <h1><%= @notice.title %></h1>

  <section class="body">
    <header id="entities">
      <% if @notice.submitter %>
        <%= render @notice.submitter, notice: @notice, role: :submitter %>
      <% end %>
      <% if @notice.recipient %>
        <%= render @notice.recipient, notice: @notice, role: :recipient %>
      <% end %>
    </header>

    <div class="main">
      <h2>Re: <%= @notice.subject %></h2>
      <p class="source">Sent via: <%= @notice.source || 'Unknown' %></p>
      <p class="body">
        <b>Body:</b> <%= @notice.redacted(:body) %>
      </p>
      <ol id="works" class="copyright-claims">
        <%= render @notice.works %>
      </ol>
      <p class="legal-other">
        <b>Legal (Other):</b> <%= @notice.redacted(:legal_other) %>
      </p>
    </div>
  </section>

  <footer>
    <section id="tags">
      <h6>Tags</h6>
      <%= @notice.tag_list %>
    </section>

    <section id="categories">
      <h6>Categories</h6>
      <%= render 'shared/category_list', categories: @notice.categories %>
    </section>
  </footer>

  <aside class="notice">
    <section id="relevant-questions">
      <h4 class="title"><span>Related FAQs</span></h3>
      <%= render @notice.all_relevant_questions %>
    </section>

    <section id="related-blog-entries">
      <h4 class="title"><span>Related Blog Entries</span></h3>
      <%= render partial: 'blog_entry', collection: @notice.limited_related_blog_entries %>
    </section>
  </aside>

</article>
