<%= simple_form_for(counter_notice) do |f| %>

    <section class="important-terms">
      <%= f.input :attach_list_of_works,
        as: :boolean,
        label: 'I will attach a list of works which have been removed or to which
        access has been disabled. I will include the location of each work before
        it was removed or access to it was disabled.' %>
    
      <%= f.input :list_removed_in_error,
        as: :boolean,
        label: "Each of those works were removed in error and I believe my
        posting them does not infringe anyone else's rights." %>
    
      <%= f.input :perjury_risk_acknowledged,
        as: :boolean,
        label: 'I understand that I am declaring the above under penalty of perjury, meaning that if I am not telling the truth I may be commiting a crime.'
      %>
    
      <%= f.input :jurisdiction,
        as: :radio_buttons,
        item_label_class: "collection_radio_buttons",
        collection: CounterNotice::JURISDICTIONS
    %>
    
      <%= f.input :consent_to_be_served,
        as: :boolean,
        label: 'I consent to be served by the person who gave notice to my Service Provider, or his agent.'
      %>
    </section>

    <section class="about-you">
      <h4>About You</h4>
      <%= f.input :your_name, label: 'Name' %>
      <%= f.input :your_phone, label: 'Phone' %>
      <%= f.input :your_address_line_1, label: 'Address Line 1' %>
      <%= f.input :your_address_line_2, label: 'Address Line 2' %>
      <%= f.input :your_address_line_3, label: 'Address Line 3'  %>
      <%= f.input :your_address_line_4, label: 'Address Line 4'  %>
    </section>

    <section class="about-your-service-provider">
      <h4>About Your Service Provider</h4>
      <%= f.input :service_provider_name, label: 'Name' %>
      <%= f.input :service_provider_phone, label: 'Phone' %>
      <%= f.input :service_provider_address_line_1, label: 'Address Line 1' %>
      <%= f.input :service_provider_address_line_2, label: 'Address Line 2' %>
      <%= f.input :service_provider_address_line_3, label: 'Address Line 3' %>
      <%= f.input :service_provider_address_line_4, label: 'Address Line 4' %>
    </section>

    <div class="buttons-wrapper">
      <%= f.submit 'Create Counter Notification', :class => 'submit' %>
    </div>
<% end %>
