<% title 'Your Counter-Notification' %>

<section class="counter-notice">
  <article class="counter-notice-show">
    <p>
    <%= @counter_notice.service_provider_name %><br/>
    <%= @counter_notice.service_provider_address_line_1 %><br/>
    <%= @counter_notice.service_provider_address_line_2 %><br/>
    <%= @counter_notice.service_provider_address_line_3 %><br/>
    <%= @counter_notice.service_provider_address_line_4 %><br/>
    <%= @counter_notice.service_provider_phone %><br/>
    </p>

    <p class="date"><%= l(Date.today, format: :friendly_date) %></p>

    <p><strong>RE: Mistaken Removal</strong>

    <p>Dear <%= @counter_notice.service_provider_name %>;</p>

    <p> Please find attached to this letter a list of material removed by you
    pursuant to 17 U.S.C. Section 512. I have a good faith belief that this
    material was removed or disabled in error as a result of mistake or
    misidentification of the material. I declare that this is true and accurate
    under penalty of perjury under the laws of the United States of America.</p>

    <% if @counter_notice.in_us? %>
      <p>For the purposes of this matter, I consent to the jurisdiction of the
    Federal District Court for the judicial district in which I reside.

    I also consent to service of process by the person providing notification
    under Section 512(c)(1)(C) or that person’s agent. However, by this letter,
    I do not waive any other rights, including the ability to pursue an action
    for the removal or disabling of access to this material, if wrongful.</p>

  <% else %>

      <p>For the purposes of this matter, I consent to the jurisdiction of the
    Federal District  Court for the judicial district in which the service
    provider may be found. 

    I also consent to service by the person providing notification under Section
    512(c)(1)(C) or that person’s agent.  However, by this letter, I do not waive
    any other rights, including the ability to pursue an  action for the removal
    or disabling of access to this material, if wrongful.</p>
  <% end %>

    <p>Having complied with the requirements of Section 512(g)(3), I remind you
    that you must now replace the blocked or removed material and cease
    disabling access to it within fourteen business days of your receipt of
    this notice. Please notify me when this has been done.</p>

    <p> I appreciate your prompt attention to this matter. If you have any
    questions about this notice, please do not hesitate to contact me.</p>

    <p>Sincerely,</p>
    <p>&nbsp;</p>

    <hr class="signature-line"/>

    <p><%= @counter_notice.your_name %><br />
    <%= @counter_notice.your_phone %><br />
    <%= @counter_notice.your_address_line_1 %><br />
    <%= @counter_notice.your_address_line_2 %><br />
    <%= @counter_notice.your_address_line_3 %><br />
    <%= @counter_notice.your_address_line_4 %><br />
    </p>
    <p>Enclosure</p>
  </article>
</section>
