<li class="dropdown <%= date_range_filter.parameter %> <%= facet_dropdown_active_indicator(date_range_filter.parameter) %>">
  <a class="dropdown-toggle title <%= date_range_filter.parameter %>" data-toggle="dropdown" href="javascript:void(0);">
    <%= date_range_filter.title %>
  </a>
  <ol class="dropdown-menu <%= date_range_filter.parameter %>" role="menu">
    <li class="facet"><a href="javascript:void(0);" data-facet-name="<%= date_range_filter.parameter %>" data-value="">All</a></li>
    <% results[date_range_filter.parameter.to_s]['buckets'].each do |range| %>
      <li class="facet <%= facet_active_indicator(date_range_filter.parameter, range_facet_param(range)) %>" name="<%= date_range_filter.parameter %>" >
      <a href="javascript:void(0);" data-facet-name="<%= date_range_filter.parameter %>" data-value="<%= range_facet_param(range) %>">Since <%= formatted_facet_range_time(range['from']) %> <span class="total-count"><%= range[:doc_count] %> Results</span></a>
      </li>
    <% end %>
  </ol>
  <%= hidden_field_tag(date_range_filter.parameter, params[date_range_filter.parameter]) %>
</li>
