<% title 'Topics', @topic.name %>

<section class="topic-description">
  <h1><%= @topic.name %></h1>
  <article>
    <p><%=raw @topic.description_html %></p>
  </article>
</section>

<% cache "topic_#{@topic.id}_notices" do %>
  <% notices = recent_notice_metadata %>
  <% if notices.any? %>
    <section class="topic-notices">
      <h4>Recent Notices</h4>
      <ol>
        <% notices.each do |notice| %>
          <li class="notice">
            <%= link_to notice.title, notice_path(notice.id) %>
          </li>
        <% end %>
      </ol>
    </section>
  <% end %>
<% end %>

<% cache "topic_#{@topic.id}_faqs" do %>
  <section class="topic-faqs" id="topic-faqs">
    <h3 class="title">Frequently Asked Questions</h3>
    <div class="wrapper">
    <% @topic.relevant_questions.each do |question| %>
      <article>
        <div class="question"><%= question.question %></div>
        <div class="answer"><%=raw question.answer_html %></div>
      </article>
    <% end %>
    </div>
  </section>
<% end %>
