<% title 'Client Notices', @enterprise_account.name %>

<section class="home-search-form">
  <h1><%= image_tag("logo_2x.png", size: "340x82") %></h1>
  <%= render 'shared/search' %>
  <div class="more-info">
    <p class="about"><%= Translation.t('home_about_text') %></p>
  </div>
</section>

<div class="site-news">
  <section class="recent-notices">
    <h2>Your Takedown Notices</h2>
    <ol id="recent-notices">
      <%= render partial: 'home/notice', collection: @recent_notices, as: :notice %>
    </ol>
    <%= link_to 'View all matching notices', client_my_notices_path %>
  </section>
</div>
