<%= content_tag_for(:article, blog_entry) do %>
  <h3><%= link_to(blog_entry.title, blog_entry_path(blog_entry)) %></h3>
  <div class="metadata"><%= publishing_info(blog_entry) %></div>

  <section class="abstract">
    <%= link_to(blog_entry_path(blog_entry), :class => 'snippet') do %>
      <p><%= blog_entry.abstract %></p>
    <% end %>
  </section>
<% end %>

