<% additional_css ||= '' %>
<% hide_identities = local_assigns.has_key?(:hide_identities) ? hide_identities : false %>
<section class="<%= role %> <%= additional_css %>">
  <h5><%= role %></h5>
  <h6>
    <% if hide_identities %>
      REDACTED
    <% else %>
      <%=
        link_to(
          entity.name,
          faceted_search_path("#{role}_name" => entity.name)
        )
      %>
    <% end %>
  </h6>

  <% if role == :sender && !hide_identities %>
    <% if notice.on_behalf_of_principal? %>
      <h6>
        <span class="on_behalf_of">on behalf of</span>
        <%=
          link_to(
            notice.principal_name,
            faceted_search_path('principal_name' => notice.principal_name)
          )
        %>
      </h6>
    <% end %>
    <%= render 'entities/address', entity: entity, role: role %>
    <span class="date sent">Sent on <%= date_sent(notice) %></span>
  <% elsif role == :recipient %>
    <%= render 'entities/address', entity: entity, role: role %>
    <span class="date received">Received on <%= date_received(notice) %></span>
  <% elsif role == :sender && entity.country_code.present? %>
    <span><%= t 'views.entities.entity.country' %>: <%= entity.country_code.upcase %></span>
  <% end %>
</section>
