<% additional_css ||= '' %>
<section class="<%= role %> <%= additional_css %>">
  <h5><%= role %></h5>
  <%= render 'entities/address', entity: entity, role: role %>
  <% if role == :sender %>
    <span class="date sent">Sent on <%= date_sent(notice) %></span>
  <% elsif role == :recipient %>
    <span class="date received">Received on <%= date_received(notice) %></span>
  <% end %>
</section>
