<section class="<%= css_class %>">
<h5><%= css_class %></h5>
<h6><%= entity.name %></h6>
<span class="private">[Private]</span>
<span><%= entity.city %>, <%= entity.state %>, <%= entity.zip %>, <%= entity.country_code %></span>
<span><%= entity.kind %></span>
</section>
