<% additional_css ||= '' %>
<section class="<%= role %> <%= additional_css %>">
  <h5><%= role %></h5>
  <h6>
    <%=
      link_to(
        entity.name,
        faceted_search_path("#{role}_name" => entity.name)
      )
    %>
  </h6>

  <% if role == :sender %>
    <% if notice.on_behalf_of_principal? %>
      <h6>
        on behalf of
        <%=
          link_to(
            notice.principal_name,
            faceted_search_path('principal_name' => notice.principal_name)
          )
        %>
      </h6>
    <% end %>
    <%= render 'entities/address', entity: entity, role: role %>
    <span class="date sent">Sent on <%= date_sent(notice) %></span>
  <% elsif role == :recipient %>
    <%= render 'entities/address', entity: entity, role: role %>
    <span class="date received">Received on <%= date_received(notice) %></span>
  <% end %>
</section>
