<section class="<%= css_class %>">
<h6><%= entity.name %></h6>
<span><%= entity.address_line_1 %></span>
<span><%= entity.address_line_2 %></span>
<span><%= entity.city %>, <%= entity.state %>, <%= entity.zip %>, <%= entity.country_code %></span>
</section>
