<% additional_css ||= '' %>
<section class="<%= role %> <%= additional_css %>">
  <h5><%= role %></h5>
  <h6>
    <% if [:sender, :principal].include?(role.to_sym) && notice.hide_identities? %>
      REDACTED
    <% else %>
      <%=
        link_to(
          entity.name,
          faceted_search_path("#{role}_name" => entity.name)
        )
      %>
    <% end %>
  </h6>

  <%= render 'entities/sender', notice: notice, entity: entity, role: role if role == :sender %>
  <%= render 'entities/recipient', notice: notice, entity: entity, role: role if role == :recipient %>
</section>
