<%= content_tag_for(:li, work) do %>
  <h4><%= Translation.t('notice_works_copyright_claim') %> #<%= work_counter %></h4>
  <div class="row">
    <div class="kind">
      <span class="label"><%= Translation.t('notice_works_kind') %></span> <span class="field"><%= work.kind %></span>
    </div>
  </div>
  <div class="row">
    <div class="description">
      <span class="label"><%= t("#{notice.type}.works.description") %></span> <span class="field"><%= work.description %></span>
    </div>
  </div>

  <% if work.copyrighted_urls.present? %>
    <div class="row">
      <span class="label original-title"><%= Translation.t('notice_works_original_urls') %>:</span>
      <ol class="list original-urls">
        <% work.copyrighted_urls.each do |url| %>
          <%= content_tag_for(:li, url) do %>
            <%= url.url %>
          <% end %>
        <% end %>
      </ol>
    </div>
  <% end %>

  <% if work.infringing_urls.present? %>
    <div class="row">
      <span class="label infringing-title"><%= Translation.t('notice_works_infringing_urls') %></span>
      <ol class="list infringing-urls">
        <% work.infringing_urls.each do |url| %>
          <%= content_tag_for(:li, url) do %>
            <%= url.url %>
          <% end %>
        <% end %>
      </ol>
    </div>
  <% end %>
<% end %>
