<p id="notice"><%= notice %></p>

<h1>Listing Token Urls</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @token_urls.each do |token_url| %>
      <tr>
        <td><%= link_to 'Show', token_url %></td>
        <td><%= link_to 'Edit', edit_token_url_path(token_url) %></td>
        <td><%= link_to 'Destroy', token_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Token url', new_token_url_path %>
