<footer class="main">
  <div class="inner-wrapper">
    <span><%= image_tag 'Cc.logo.circle.svg', height: '16', style: 'vertical-align: middle;' %> 2017 Lumen</span>
    <nav>
	<%= link_to "License", page_path("license") %>	
    <%= link_to "Privacy", page_path("privacy") %>
    <%= link_to "Legal", page_path("legal") %>
    <%= link_to "Researchers", page_path("researchers") %>
    <% if user_signed_in? %>
      <%= link_to "Admin", rails_admin_path %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
    </nav>
  </div>
</footer>
