<footer class="footer is-flex is-align-items-stretch">
  <div class="is-justify-content-flex-start is-flex-shrink-0 is-flex-grow-1">
    <span><%= image_tag 'Cc.logo.circle.svg', height: '16', class: 'footer-cc-img' %> 2017 Lumen</span>
  </div>

  <div class="is-justify-content-flex-end is-flex-shrink-0 is-flex-grow-1 is-flex is-justify-content-flex-end">
    <% footer_links.each do |link| %>
      <span class="ml-4"><%= link_to cms_fragment_content('page_title', link), link.full_path %></span>
    <% end %>
    <% if user_signed_in? %>
      <% if can? :access, :rails_admin %>
        <span class="ml-4"><%= link_to "Admin", rails_admin_path %></span>
      <% end %>
      <span class="ml-4"><%= link_to "Sign Out", destroy_user_session_path %></span>
    <% else %>
      <span class="ml-4"><%= link_to "Sign In", new_user_session_path %></span>
    <% end %>
  </div>
</footer>
