<header class="app search-header">
  <div class="header-inner">
    <h1>
      <%= link_to root_path, :id => "root" do %>
        <%= image_tag("logo_2x.png", :size=> "340x52") %>
      <% end %>
    </h1>
    <%= render 'shared/navigation' -%>
    <div class="container search header-bar">
      <%= render 'shared/search' %>
    </div>
    <%= form_tag(notices_search_index_path, method: :get) do %>
      <div class="container advanced-search">
        <div class="width-wrapper">
          <h5>Advanced Search: <span>add additional search queries<span></h5>
          <% Notice::SEARCHABLE_FIELDS.each do |field| %>
            <%= render field %>
          <% end %>
          <a id="duplicate-field" href="javascript:void(0);" class="add-group">Add more</a>
          <div class="resubmit">
            <button class="button">Advanced Search</button>
          </div>
        </div>
      </div>
      <%= hidden_field_tag(:sort_by, params[:sort_by], class: 'sort_by_field') %>
    <% end %>
  </div>
</header>

<%= javascript_tag do -%>
  var active_advanced_search_parameters = <%= active_advanced_search_parameters? %>;
<% end %>
