<header class="app">
<%= form_tag(notices_search_index_path, method: :get) do %>
  <%= render 'shared/navigation' -%>
  <div class="container search">
    <div class="width-wrapper">
      <h1>
        <%= link_to root_path, :id => "root" do %>
          <%= image_tag("logo.svg") %>
        <% end %>
      </h1>
      <%= render 'shared/search' %>
    </div>
  </div>
  <div class="container advanced-search">
    <div class="width-wrapper">
      <h5><b>Advanced Search</b> &ndash; Add additional search queries</h5>
      <% Notice::SEARCHABLE_FIELDS.each do |field| %>
        <%= render 'shared/advanced_field', field: field %>
      <% end %>
      <div class="field-group">
        <div class="remove-group"></div>
        <div class="input select">
          <select class="field-select" name="search-field">
            <% Notice::SEARCHABLE_FIELDS.each do |field| %>
              <option value="<%= field[:parameter] %>"><%= field[:name] %></option>
            <% end %>
          </select>
        </div>
        <input type="text" name="search-term">
      </div>
      <a id="duplicate-field" href="#" class="add-group">Add more</a>
      <div class="resubmit">
        <button class="button">Advanced Search</button>
      </div>
    </div>
  </div>
<% end %>
</header>
