<header class="app header-search">
  <%= render "shared/header_nav" %> 
  <%= render 'shared/search', logo: true %>

  <div style="display: none;">
  <%= form_tag(@search_index_path, method: :get) do %>
    <div class="container advanced-search">
      <div class="width-wrapper">
        <h5>Advanced Search: <span>add additional search queries<span></h5>
        <% @searchable_fields.each do |field| %>
          <%= render field %>
        <% end %>
        <a id="duplicate-field" href="javascript:void(0);" class="add-group">Add more</a>
        <div class="resubmit">
          <button class="button adv-search-submit" type="submit">Advanced Search</button>
        </div>
      </div>
    </div>
    <%= hidden_field_tag(:sort_by, params[:sort_by], class: 'sort_by_field', id: nil) %>
  <% end %>
  </div>
</header>
