<nav class="main-nav">
  <ol class="nav-list">
    <li class="nav-item search">
      <%= link_to("Search", root_path) %>
    </li>
    <li class="nav-item categories dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Topics</a>
      <div id="dropdown-categories" class="dropdown-menu" role="menu">
        <ol>
          <% category_roots.each do |root| %>
            <%= render "shared/category_dropdown", category: root %>
          <% end %>
        </ol>
      </div>
    </li>
    <li class="nav-item new-notice">
      <%= link_to("Report Notice", new_notice_path) %>
    </li>
    <li class="nav-item blog">
      <%= link_to("Blog", blog_entries_path) %>
    </li>
    <li class="nav-item about">
      <%= link_to "About", page_path("about") %>
    </li>
  </ol>
</nav>
