<nav class="main-nav">
  <ol class="nav-list">
    <li class="nav-item search">
      <%= link_to("Search", root_path) %>
    </li>
    <li class="nav-item topics dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Topics</a>
      <div id="dropdown-topics" class="dropdown-menu" role="menu">
        <ol>
          <% topic_roots.each do |root| %>
            <% cache(root) do %>
              <%= render "shared/topic_dropdown", topic: root %>
            <% end %>
          <% end %>
        </ol>
      </div>
    </li>
    <li class="nav-item new-notice">
      <%= link_to("Report a Demand", new_notice_path) %>
    </li>
    <li class="nav-item blog">
      <%= link_to("Blog", blog_entries_path) %>
    </li>
    <li class="nav-item about">
      <%= link_to "About", page_path("about") %>
    </li>
    <li class="nav-item research">
      <%= link_to "Research", page_path("research") %>
    </li>
  </ol>
</nav>
