<% cache '_navigation' do %>
  <nav class="main-nav">
    <div class="nav-item search"><%= link_to(Translation.t('navigation_header_search'), root_path) %></div>
    <div class="nav-item topics dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= Translation.t('navigation_header_topics') %></a>
      <div id="dropdown-topics" class="dropdown-menu" role="menu">
        <ol>
          <% cache_unless(Current.user&.role?(Role.super_admin), 'dropdown-topics') do %>
            <%= render partial: 'shared/topic_dropdown', collection: topic_roots,
                as: :topic %>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="nav-item">
      <%= link_to Translation.t('navigation_header_media_mentions'), media_mentions_search_index_path %>
    </div>
    <% header_links.each do |link| %>
      <div class="nav-item">
        <%= link_to cms_fragment_content('page_title', link), link.full_path %>
      </div>
    <% end %>
  </nav>
<% end %>
