<div class="search-wrapper">
  <%= form_tag(@search_index_path, method: :get) do %>
    <div class="input">
      <%= text_field_tag :term, params[:term], id: "search", type: 'search', placeholder: @search_all_placeholder %>
    </div>
    <div class="submit">
      <button id="submit" class="main-search-submit" type="submit" title="search"><%= Translation.t('search_submit') %></button>
      <div class="search-dropdown dropdown">
        <a id="toggle-advanced-search" href="" class="dropdown-toggle" data-toggle="dropdown"><%= Translation.t('search_advanced_open') %></a>
      </div>
    </div>
    <div class="search-exact-search">
      <%= check_box_tag 'term-exact-search', true, params['term-exact-search'] %>
      <label for="term-exact-search">Exact search</label>
    </div>

    <%= hidden_field_tag(:sort_by, params[:sort_by], class: 'sort_by_field', id: nil) %>
  <% end %>
</div>
