<section class="home-search-form">
  <h1><%= image_tag("logo_2x.png", :size=> "340x82") %></h1>
  <%= render 'shared/search' %>
  <div class="more-info">
    <p class="about">The Lumen database collects and analyzes legal complaints and requests for removal of online materials, helping Internet users to know their rights and understand the law. These data enable us to study the prevalence of legal threats and let Internet users see the source of content removals.</p>
  </div>
</section>

<div class="site-news">
  <section class="recent-notices">
    <h2>Recent Takedown Notices</h2>
    <ol id="recent-notices">
      <%= render @notices %>
    </ol>
    <a href="notices_feed?format=rss"><%= image_tag("feed_icon.png", :size => "14x14") %></a>
  </section>
  <% cache( 'chillingeffects-tweets', expires_in: 5.minutes ) { %>
  <section class="tweets">
  <h2>@lumendatabase on twitter</h2>
    <% @tweet_news.each do |tweet| %>
    <ol>
        <li><%= auto_link(tweet.text).html_safe %></li>
    </ol>
    <% end %>
  </section>
  <% } %>
  <section class="news-snippets">
    <h2>From the Blog</h2>
    <ol id="recent-blog-entries">
      <%= render partial: 'blog_entry', collection: @blog_entries, cached: true %>
    </ol>
    <a href="blog_feed?format=rss"><%= image_tag("feed_icon.png", :size => "14x14") %></a>
  </section>
</div>