<%= render 'notices/submitter_widget/form_components/header',
           label: Translation.t('notice_new_defamation_header'),
           additional_description: 'Please do not include any copies of the allegedly defamatory language or material.' %>
<%= simple_form_for(notice, url: submitter_widget_notices_path(widget_settings: @widget_settings)) do |form| %>
  <section class="notice-body">
    <%= Translation.t('notice_new_step_1') %>
    <%= render 'notices/submitter_widget/form_components/main_metadata',
               form: form,
               file_attachments_description: 'Any file you attach to this notice will be viewable by the public in the form in which you have attached it. It will not be reviewed by Lumen staff prior to being available to download. Please redact out any allegedly defamatory language before attaching.' %>
  </section>

  <section class="works">
    <h4><span>Step 2.</span> URLs of Allegedly Defamatory Material</h4>
    <p>Please do not include links to unnecessary material. <b>Any URLs you enter will be republished on Lumen Database site.</b></p>
    <% form.object.works.each_with_index do |work, index| %>
      <%= form.simple_fields_for(:works) do |works_form| %>
        <div class="body-wrapper left">
          <%= render(
            partial: 'url_input_group',
            locals: { notice: notice, assoc: :infringing_urls, works_form: works_form, index: index }
          ) %>
        </div>
      <% end %>
    <% end %>
  </section>

  <%= render 'notices/submitter_widget/form_components/roles',
             label: Translation.t('notice_new_defamation_header'),
             form: form %>

  <%= recaptcha_tags %>

  <%= render 'notices/form_components/submit', form: form %>
<% end %>
