<% title 'Report a Demand', @notice.type %>

<section class="notice-new">
  <%= render submitter_widget_form_partial_for(@notice), notice: @notice %>
</section>

<%= javascript_include_tag('iframe-resizer-server.min') %>
<%= javascript_include_tag('pace.min') %>
<%= javascript_include_tag('submitter_widget') %>
<%= stylesheet_link_tag('pace', :media => 'all') %>
