<%= simple_form_for(@submission) do |form| %>
  <%= form.input :title %>
  <%= form.input :subject %>
  <%= form.input :body %>
  <%= form.input :date_received %>
  <%= form.input :source, label: "Sent via" %>
  <%= form.input :tag_list %>
  <%=
    form.input :category_ids,
      as: :select,
      label: "Categories",
      collection: @submission.available_categories,
      input_html: { multiple: true }
  %>

  <%= form.fields_for(:entities) do |entity_form| %>
    <%= raw entity_form_input(entity_form, 'Recipient') %>
    <%= raw entity_form_input(entity_form, 'Submitter') %>
  <% end %>

  <%= form.fields_for(:works) do |works_form| %>
    <%= render partial: 'works_form', locals: { form: works_form } %>
  <% end %>

  <%= form.input :file, as: :file, label: 'Notice File' %>

  <div class="buttons-wrapper">
    <%= form.submit "Submit", :class => "submit" %>
  </div>
<% end %>
