<%= content_tag_for(:li, result, class: 'media-mention-result') do %>
  <div class="media-mention-result-title">
    <h3 class="title">
      <%= link_to result.title, media_mention_path(result.id) %>
    </h3>
  </div>
  <div class="media-mention-result-meta">
    <% if result.author.present? %>
      <div><label>Author</label> <%= result.author %></div>
    <% end %>
    <% if result.source.present? %>
      <div><label>Source</label> <%= result.source %></div>
    <% end %>
    <% if result.document_type.present? %>
      <div><label>Document Type</label> <%= result.document_type %></div>
    <% end %>
    <% if result.date.present? %>
      <div><label>Date Published</label> <%= result.date %></div>
    <% end %>
    <% if result.scale_of_mention.present? %>
      <div><label>Scale of Mention</label> <%= result.scale_of_mention %></div>
    <% end %>
  </div>
<% end %>
