<%= content_tag_for(:li, result, class: 'media-mention-result') do %>
  <div class="media-mention-result-title">
    <h3 class="title">
      <%= link_to result.title, media_mention_path(result.id) %>
    </h3>
  </div>
  <div class="media-mention-result-meta">
    <% if result.author.present? %>
      <div><label><%= Translation.t('media_mentions_author') %></label> <%= result.author %></div>
    <% end %>
    <% if result.source.present? %>
      <div><label><%= Translation.t('media_mentions_source') %></label> <%= result.source %></div>
    <% end %>
    <% if result.document_type.present? %>
      <div><label><%= Translation.t('media_mentions_doc_type') %></label> <%= result.document_type %></div>
    <% end %>
    <% if result.date.present? %>
      <div><label><%= Translation.t('media_mentions_date_published') %></label> <%= result.date %></div>
    <% end %>
    <% if result.scale_of_mention.present? %>
      <div><label><%= Translation.t('media_mentions_scale') %></label> <%= result.scale_of_mention %></div>
    <% end %>
  </div>
<% end %>
