<%= content_tag_for(:li, result, class: "result") do %>
  <h3 class="title"><%= link_to result.title, notice_path(result.id) %></h3>
  <div class="metadata">
    <div class="date-received"><%= date_received(result) %></div>
    <div class="sender-receiver">
      <% if result.on_behalf_of_principal? %>
        <%= on_behalf_of(result.sender_name, result.principal_name) %>
      <% else %>
        <% if result.sender_name.present? %>
          <%= link_to(result.sender_name, faceted_search_path(sender_name: result.sender_name), class: 'sender' )%>
        <% elsif result.principal_name.present? %>
          <%= link_to(result.principal_name, faceted_search_path(principal_name: result.principal_name), class: 'principal' )%>
        <% end %>
      <% end %>
      <span class="arrow"><%= image_tag 'arrow-small.svg' %></span>
      <% if result.recipient_name.present? %>
        <%= link_to(result.recipient_name, faceted_search_path(recipient_name: result.recipient_name), class: 'receiver' )%>
      <% end %>
    </div>
    <ol class="excerpt">
      <% result.with_excerpts do |excerpt| %>
        <li class="excerpt">
          <%= sanitize(excerpt, tags: ['em']) %>
        </li>
      <% end %>
    </ol>
    <div class="topic">
      <%= render 'shared/topic_list', topics: result.topics %>
    </div>
  </div>
<% end %>
