<li class="dropdown <%= type %> <%= facet_dropdown_active_indicator(type) %>">
<a class="dropdown-toggle title <%= type %>" data-toggle="dropdown" href="#">
  <%= display_name %>
</a>
  <ol class="dropdown-menu <%= type %>" role="menu">
    <li class="facet"><a href="#" data-facet-name="<%= type %>" data-value="">All</a></li>
    <% results.facets[type]['terms'].each do |term| %>
      <li class="facet <%= facet_active_indicator(type, term['term']) %>" name="<%= type %>">
      <a href="#" data-facet-name="<%= type %>" data-value="<%= term['term'] %>">
        <%= term['term'] %><span class="total-count"><%= term['count'] %> Results</span>
      </a>
      </li>
    <% end %>
  </ol>
  <%= hidden_field_tag(type, params[type]) %>
</li>
