<section class="search-results">
  <header>
    <%= form_tag(notices_search_index_path, method: :get, id: 'facets-form') do %>
      <% if @results.facets %>
        <ol class="results-facets">
          <li class="title"><span>Search Filters<span></li>
          <%= render 'term_facet', type: 'sender_name_facet', results: @results %>
          <%= render 'term_facet', type: 'recipient_name_facet', results: @results %>
          <%= render 'term_facet', type: 'category_facet', results: @results %>
          <%= render 'term_facet', type: 'tag_list_facet', results: @results %>
          <%= render 'term_facet', type: 'country_code_facet', results: @results %>
          <%= render 'range_facet', type: 'date_received_facet', results: @results %>
          <li class="button-wrapper"><button class="">Apply</button></li>
        </ol>
      <% end %>
    <% end %>
    <div class="result-stats">Found <%= @results.total_entries %> results</div>
  </header>
  <ol class="results-list">
    <%= render partial: 'result', collection: @results %>
  </ol>
  <%= will_paginate @results %>
</section>
