<%= title 'Search' %>
<%= cache(@searcher.cache_key) do %>
  <section class="search-results">
    <header class="app">
      <%= form_tag(notices_search_index_path, method: :get, id: 'facets-form') do %>
        <% if @searchdata.response['aggregations'] %>
          <ol class="results-facets">
            <% Notice::FILTERABLE_FIELDS.each do |filterable_field| %>
              <%= render filterable_field, results: @searchdata.response['aggregations'] %>
            <% end %>
          </ol>
        <% end %>
        <%= hidden_field_tag(:sort_by, params[:sort_by], class: 'sort_by_field') %>
      <% end %>
      <div class="results-context">
        Filtering results using the above drop-down menus will change the listed results but not the listed totals in the drop-down menus.
      </div>
      <div class="result-stats">
        <span class="total-entries">Found <%= @searchdata.results.total %> results</span>
        <div class="dropdown sort-order">
          Sort by: <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><%= sort_order_label(params[:sort_by]) %></a>
          <ol class="dropdown-menu" role="menu">
            <% Notice::ORDERING_OPTIONS.each do |ordering| %>
              <li class="facet">
              <%=
                link_to(
                  ordering.label, '#', 'data-value': ordering.param,
                  'data-label': ordering.label
                ) %>
              </li>
            <% end %>
          </ol>
        </div>
      </div>
    </header>
    <ol class="results-list">
      <%= render partial: 'result', collection: @wrapped_instances %>
    </ol>
    <%= paginate @searchdata.results, left: 9, right: 2, current_page: @searcher.page.to_i %>
  </section>
<% end %>
