<%= title 'Search' %>

<section class="search-results">
  <header>
    <%= form_tag(notices_search_index_path, method: :get, id: 'facets-form') do %>
      <% if @results.facets %>
        <ol class="results-facets">
          <li class="title"><span>Search Filters<span></li>
            <% Notice::FILTERABLE_FIELDS.each do |filterable_field| %>
              <%= render filterable_field, results: @results %>
            <% end %>
          <li class="button-wrapper"><button class="">Apply</button></li>
        </ol>
      <% end %>
    <% end %>
    <div class="result-stats">
      <span class="total-entries">Found <%= @results.total_entries %> results</span>
      <div class="dropdown sort-order">
        Sort by: <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Relevance</a>
        <ol class="dropdown-menu" role="menu">
          <li class="facet"><a href="javascript:void(0)">Relevance</a></li>
          <li class="facet"><a href="javascript:void(0)">Ascending</a></li>
          <li class="facet"><a href="javascript:void(0)">Descending</a></li>
        </ol>
      </div>
    </div>
  </header>
  <ol class="results-list">
    <%= render partial: 'result', collection: @results %>
  </ol>
  <%= will_paginate @results %>
</section>
