<%= title 'Search' %>

<section class="search-results">
  <header>
    <%= form_tag(notices_search_index_path, method: :get, id: 'facets-form') do %>
      <% if @results.facets %>
        <ol class="results-facets">
          <li class="title"><span>Search Filters<span></li>
            <% Notice::FILTERABLE_FIELDS.each do |filterable_field| %>
              <%= render filterable_field, results: @results %>
            <% end %>
          <li class="button-wrapper"><button class="">Apply</button></li>
        </ol>
      <% end %>
    <% end %>
    <div class="result-stats">Found <%= @results.total_entries %> results</div>
  </header>
  <ol class="results-list">
    <%= render partial: 'result', collection: @results %>
  </ol>
  <%= will_paginate @results %>
</section>
