<%= title 'Search' %>
<%= cache(@searcher.cache_key) do %>
<% results = @searcher.search.results -%>

<section class="search-results">
  <header>
    <%= form_tag(notices_search_index_path, method: :get, id: 'facets-form') do %>
      <% if results.facets %>
        <ol class="results-facets">
          <% Notice::FILTERABLE_FIELDS.each do |filterable_field| %>
            <%= render filterable_field, results: results %>
          <% end %>
        </ol>
      <% end %>
      <%= hidden_field_tag(:sort_by, params[:sort_by], class: 'sort_by_field') %>
    <% end %>
    <div class="results-context">
      Filtering results using the above drop-down menus will change the listed results but not the listed totals in the drop-down menus.
    </div>
    <div class="result-stats">
      <span class="total-entries">Found <%= results.total_entries %> results</span>
      <div class="dropdown sort-order">
        Sort by: <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><%= sort_order_label(params[:sort_by]) %></a>
        <ol class="dropdown-menu" role="menu">
          <% Notice::SORTINGS.each do |sorting| %>
            <li class="facet">
            <%=
              link_to(
                sorting.label, '#', 'data-value' => sorting.key,
                'data-label' => sorting.label
              ) %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </header>
  <ol class="results-list">
    <%= render partial: 'result', collection: results %>
  </ol>
  <%= paginate results, left: 9, right: 2 %>
</section>
<% end %>
