<li class="dropdown">
  <a class="dropdown-toggle title" data-toggle="dropdown" href="#"><%= type.titleize %></a>
  <ol class="dropdown-menu <%= type %>" role="menu">
    <% results.facets[type]['ranges'].each do |range| %>
      <li class="facet" name="<%= type %>">
        <a href="#" class="facet">From today to <%= formatted_facet_range_time(range['from']) %><span class="total-count"><%= range['count'] %> Results</span></a>
      </li>
    <% end %>
  </ol>
</li>
