<%= content_tag_for(:li, result, class: "result") do %>
  <h3 class="title"><%= link_to result.title, result %></h3>
  <div class="metadata">
    <div class="date-received"><%= date_received(result) %></div>
    <div class="sender-receiver">
      <a href="#" class="sender"><%= result.submitter_name %></a>
      <span class="arrow"><%= image_tag 'arrow-small.svg' %></span>
      <a href="#" class="receiver"><%= result.recipient_name %></a>
    </div>
    <ol class="excerpt">
      <%= render 'highlights', result: result %>
    </ol>
    <div class="category">
      <%= render 'shared/category_list', categories: result.categories %>
    </div>
  </div>
<% end %>
