<%= content_tag_for(:li, result, class: "result") do %>
  <h3 class="title"><%= link_to result.title, notice_path(result.id) %></h3>
  <div class="metadata">
    <div class="date-received"><%= date_received(result) %></div>
    <div class="sender-receiver">
      <%= link_to(result.submitter_name, facetted_search_path(submitter_name: result.submitter_name), class: 'sender' )%>
      <span class="arrow"><%= image_tag 'arrow-small.svg' %></span>
      <%= link_to(result.recipient_name, facetted_search_path(recipient_name: result.recipient_name), class: 'receiver' )%>
    </div>
    <ol class="excerpt">
      <% result.with_excerpts do |excerpt| %>
        <li class="excerpt">
          <%= sanitize(excerpt, tags: 'em') %>
        </li>
      <% end %>
    </ol>
    <div class="category">
      <%= render 'shared/category_list', categories: result.categories %>
    </div>
  </div>
<% end %>
