<li class="dropdown <%= type %> <%= facet_dropdown_active_indicator(type) %>">
<a class="dropdown-toggle title <%= type %>" data-toggle="dropdown" href="#">
  <%= type.titleize %>
</a>
  <ol class="dropdown-menu <%= type %>" role="menu">
    <% results.facets[type]['terms'].each do |term| %>
      <li class="facet <%= facet_active_indicator(type, term['term']) %>" name="<%= type %>">
      <a href="<%= url_for(search_path(q: params[:q], type => term['term'] )) %>">
        <%= term['term'] %><span class="total-count"><%= term['count'] %> Results</span>
      </a>
      </li>
    <% end %>
  </ol>
</li>
