<section class="search-results">
  <header>
    <%= form_tag(search_path, method: :get) do %>
      <% if @results.facets %>
        <ol class="results-facets">
          <li class="title"><span>Search Filters<span></li>
          <%= render 'term_facet', type: 'sender_name', results: @results %>
          <%= render 'term_facet', type: 'recipient_name', results: @results %>
          <%= render 'term_facet', type: 'categories', results: @results %>
          <%= render 'range_facet', type: 'date_received', results: @results %>
        </ol>
      <% end %>
    <% end %>
    <div class="result-stats">Found <%= @results.total_entries %> results</div>
  </header>
  <ol class="results-list">
    <%= render partial: 'result', collection: @results %>
  </ol>
  <%= will_paginate @results %>
</section>
