<% title Translation.t('api_submitter_widget_request_page_title') %>

<article class="api-submitter-access-request">
  <section class="body">
    <%= Translation.t('api_submitter_widget_request_info') %>

    <%= simple_form_for(@api_submitter_request) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <h3><%= Translation.t('api_submitter_widget_request_general_information') %></h3>
        <%= f.input :email, label: Translation.t('api_submitter_widget_request_contact_email'), hint: Translation.t('api_submitter_widget_request_contact_email_help_text'), required: true %>
        <%= f.input :submissions_forward_email, label: Translation.t('api_submitter_widget_request_forward_email'), hint: Translation.t('api_submitter_widget_request_forward_email_help_text'), required: true %>
        <%= f.input :description, as: :text, label: Translation.t('api_submitter_widget_request_description'), required: true %>

        <h3><%= Translation.t('api_submitter_widget_request_your_company') %></h3>
        <div class="required">
          <%= f.input :entity_name, label: 'Name', required: true %>
          <%= f.input :entity_kind, label: 'Type', prompt: nil, collection: Entity::KINDS, required: true %>
        </div>
        <div class="optional">
          <%= f.input :entity_address_line_1, label: 'Address Line 1' %>
          <%= f.input :entity_address_line_2, label: 'Address Line 2' %>
          <%= f.input :entity_city, label: 'City' %>
          <%= f.input :entity_state, label: 'State',
            label_html: { class: 'half-width' }, maxlength: '2' %>
          <%= f.input :entity_zip, label: 'Zip Code',
            label_html: { class: 'half-width' } %>
          <%= f.input :entity_country_code,
            { collection: Lumen::ISO_COUNTRIES_FOR_SELECT, label: 'Country' } %>
          <%= f.input :entity_email, label: 'Email' %>
          <%= f.input :entity_phone, label: 'Phone' %>
          <%= f.input :entity_url, label: 'URL' %>
        </div>

        <%= recaptcha_tags %>
      </div>

      <div class="form-actions">
        <%= f.submit Translation.t('api_submitter_widget_request_submit') %>
      </div>
    <% end %>
  </section>
</article>
