<section class="category-description">
  <h1><%= @category.name %></h1>
  <article>
    <p><%=raw @category.description_html %></p>
  </article>
</section>

<% if @notices.any? %>
  <section class="category-notices">
    <h4>Recent Notices</h4>
    <ol>
      <%= render @notices %>
    </ol>
  </section>
<% end %>

<section class="category-faqs" id="category-faqs">
  <h3 class="title">Frequently Asked Questions</h3>
  <div class="wrapper">
  <% @category.relevant_questions.each do |question| %>
    <article>
      <div class="question"><%= question.question %></div>
      <div class="answer"><%=raw question.answer_html %></div>
    </article>
  <% end %>
  </div>
</section>
