<%  options = {
      url: redact_notice_path(
        abstract_model, object.id, next_notices: params[:next_notices]
      ),
      as: abstract_model.param_key,
      html: {
        multipart: true,
        method: :put
      }
    }
%>

<%= simple_form_for(object, options) do |form| %>
  <div id="redacted-fields">
    <% redactable_fields.each do |field| %>
      <%= form.input(field) %>
    <% end %>
  </div>

  <div id="original-fields">
    <% redactable_fields.each do |field| %>
      <%= form.input(:"#{field}_original", input_html: { readonly: true }) %>
    <% end %>
  </div>

  <p>
    <strong>Time in queue:</strong>
    <%= time_ago_in_words(@object.created_at) %>
  </p>
  <% if can? :publish, @object %>
    <div id="review-required">
      <%= form.input(:review_required) %>
      <%= form.hint "Uncheck to mark redacted" %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= form.submit('Save', class: 'btn btn-primary') %>

    <% if next_notice_path %>
      <%= form.submit('Save and next', name: 'save_and_next', class: 'btn btn-info') %>
      <%= link_to('Next', next_notice_path, class: 'btn') %>
    <% end %>

    <%= link_to('Done', redact_queue_path(abstract_model), class: 'btn') %>
  </div>
<% end %>
