<h3>
  Requested PDFs
</h3>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Download</th>
      <th class="last">Notice</th>
    </tr>
  </thead>
  <% @requested_pdfs.each do | requested_pdf | %>
    <tr class="queue_item" id="pdf_<%= requested_pdf.id %>">
    <td><a href="/admin/file_upload/<%= requested_pdf.id %>"><%= requested_pdf.file_file_name %></td>
    <td><a href="<%= requested_pdf.url %>">Download File</a></td>
    <td><a href="/admin/notice/<%= requested_pdf.notice.id %>/edit"><%= requested_pdf.notice.title %></td>
    </tr>
  <% end %>
</table>