<%= form_tag do %>
  <%= token_tag(nil) %>

  <div id="refill-queue">
    <h4>1. Fill your queue with notices</h4>
    <% @refill.each_input do |input| %>
      <div>
        <%= label(@refill.root_key, input.key, input.label_text) %>
        <%=
          select_tag(
            :"#{@refill.root_key}[#{input.key}]",
            options_from_collection_for_select(input.collection, :id, :name),
            include_blank: true, multiple: true
          )
        %>
      </div>
    <% end %>
    <%= submit_tag 'Fill Queue', name: 'fill_queue', class: 'btn btn-small btn-primary' %>
  </div>

  <h4>2. Select notices to process</h4>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th class="shrink">
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
        <th>Sent by</th>
        <th>Received by</th>
        <th>Submitted by</th>
        <th class="last">Date received</th>
      </tr>
    </thead>
    <tbody>
      <% @objects.each do |object| %>
        <tr class="queue_item" id="notice_<%= object.id %>">
          <td><%= check_box_tag('selected[]', object.id, true) %></td>
          <td><%= object.id %></td>
          <td><%= object.title %></td>
          <td><%= object.body %></td>
          <td><%= object.sender_name %></td>
          <td><%= object.recipient_name %></td>
          <td><%= object.submitter_name %></td>
          <td class="last"><%= date_received(object) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= submit_tag 'Process selected', class: 'btn btn-primary' %>
    <%= submit_tag 'Release selected', name: 'release_selected', class: 'btn btn-secondary' %>
  </div>
<% end %>
