<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <title>Lumen</title>
  <%= render 'shared/head' -%>
</head>
<body class="<%= body_class %>">
  <%= render 'flashes' -%>
  <div class="blue-nav">
    <%= render 'shared/navigation' -%>
  </div>
  <section class="main home">
    <%= yield %>
  </section>
  <%= render 'shared/footer' -%>
  <%= render 'javascript' %>
  <%= render 'shared/piwik' %>
</body>
</html>
